doctype html
html(lang='en')
  head
    title New User Password
    script(type='text/javascript').
      const foo = true;
      let bar = function() {};
      if (foo) {
      bar(1 + 5)
      }
  body
    h1 Welcome user: #{username}
    p Your random generated password is: #{password}